header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary-monochrome-color);
}

.logo {
  width: 220px;
}

header ul {
  display: flex;
  gap: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1.5rem;
}

.user-not-logged-in-hero {
  display: flex;
  flex-direction: column; /* Aligns items vertically */
  justify-content: center; /* Vertically centers the items */
  align-items: center; /* Horizontally centers the items */
  width: 90%;
  max-width: 800px;
  margin-bottom: 2rem;
  text-align: center;
}

.user-logged-in-hero {
  display: flex;
  flex-direction: column; /* Aligns items vertically */
  justify-content: center; /* Vertically centers the items */
  align-items: center; /* Horizontally centers the items */
  font-size: 2.6rem;
  width: 90%;
  max-width: 800px;
  margin-bottom: 2rem;
  text-align: center;
}

.user-logged-in-name {
  color: var(--secondary-logo-color);
  font-family: var(--block-text);
}

.logo-green {
  color: var(--secondary-logo-color);
  font-family: var(--block-text);
}

.accent-pink {
  color: var(--primary-accent-color);
}

.news-feed {
  width: 95%;
  max-width: 1200px;
  height: auto;
  padding: 1.5rem;
  background-color: var(--primary-monochrome-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.news-feed h2 {
  margin-bottom: 0.8rem;
}

.news-feed ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.frontpage-hero-title {
  font-size: 3.4rem;
}

.frontpage-hero-subtitle {
  font-size: 2.5rem;
  color: var(--secondary-logo-color);
}

iframe {
  width: 400px;
  height: 60px;
}

/* temporary fix to show the whole recent projects, by scrolling down*/
footer {
  height: 10vh;
}
