:root {
  /* font book */
  --title-text: "Krona One", sans-serif;
  --body-text: "Lexend", sans-serif;
  --misc-text: "Josefin Sans", sans-serif;
  --block-text: "Bebas Neue", sans-serif;

  /* color book */
  --primary-logo-color: #86cecb;
  --secondary-logo-color: #137a7f;
  --primary-accent-color: #e12885;
  --primary-monochrome-color: #fff;
  --secondary-monochrome-color: #373b3e;
  --tertiary-monochrome-color: #dbe1e6;
}

/* ---- super simple reset ---- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--body-text);
}

#root {
  min-width: 470px;
}

p {
  font-size: 1rem;
}

body {
  background-color: var(--tertiary-monochrome-color);
}

ul {
  list-style: none;
}

/* ---- headers ---- */

h2 {
  color: var(--primary-accent-color);
  font-family: var(--block-text);
  font-size: 2rem;
}

/* ---- button styling ---- */

button,
input::file-selector-button {
  padding: 0.4rem 1rem;
  background-color: var(--secondary-logo-color);
  border: 2px solid var(--secondary-logo-color);
  border-radius: 100vh;
  color: var(--primary-monochrome-color);
  font-size: 0.85rem;
  font-weight: 400;
  transition: background-color 0.1s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
}

button:hover,
button:focus,
input::file-selector-button:hover,
input::file-selector-button:focus {
  background-color: #c3e7e5;
  color: var(--primary-accent-color);
}

button:focus,
input::file-selector-button:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px;
}

button.action-call {
  background-color: var(--primary-accent-color);
  border: 2px solid var(--primary-accent-color);
}

button:hover.action-call,
button:focus.action-call {
  background-color: #f9d4e7;
  color: var(--secondary-logo-color);
}

.icon-btn {
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: 1rem;
  border-radius: 12px;
}

.nav-icon {
  padding-left: 0.1rem;
}

/* ---- input styling ---- */

label {
  padding-top: 1.5rem;
  padding-bottom: 0.2rem;
  font-family: var(--block-text);
  font-size: 1.2rem;
  color: black;
}

input,
textarea {
  padding: 0.6rem;
  border: 2px solid transparent;
  border-radius: 6px;
  background: conic-gradient(#f1f1f1 /* the background color */ 0 0) padding-box,
    linear-gradient(var(--primary-accent-color), var(--primary-logo-color))
      border-box;
  font-family: var(--body-text);
  font-size: 0.85rem;
  transition: box-shadow 0.2s ease-in-out;
}

input:focus,
textarea:focus {
  /* outline-offset: 2px;
  outline: 2px solid var(--primary-accent-color); */
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px;
}

textarea {
  height: 120px;
  resize: vertical;
}

::placeholder {
  color: #c0c0c0;
}

.required::after {
  content: " *";
  color: var(--primary-accent-color);
}

/* -------------scrollbar styling------------------- */

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--primary-accent-color);
  border-radius: 10px;
}

/* Handle  */
::-webkit-scrollbar-thumb {
  background: var(--secondary-logo-color);
  border-radius: 10px;
}
