:root {
  /* font book */
  --title-text: 'Krona One', sans-serif;
  --body-text: 'Lexend', sans-serif;
  --misc-text: 'Josefin Sans', sans-serif;
  --block-text: 'Bebas Neue', sans-serif;

  /* color book */
  --primary-logo-color: #86cecb;
  --secondary-logo-color: #137a7f;
  --primary-accent-color: #e12885;
  --primary-monochrome-color: #fff;
  --secondary-monochrome-color: #373b3e;
  --tertiary-monochrome-color: #dbe1e6;
}

/* ---- super simple reset ---- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--body-text);
}

#root {
  min-width: 440px;
}

p {
  font-size: 0.9rem;
}

body {
  background-color: var(--tertiary-monochrome-color);
}

ul {
  list-style: none;
}

/* ---- headers ---- */

h2 {
  color: #e12885;
  font-family: var(--block-text);
  font-size: 2rem;
}

/* ---- button styling ---- */

button {
  background-color: var(--secondary-logo-color);
  border-radius: 12px;
  border: 0.5px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: var(--body-text);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

button:hover,
button:focus {
  background-color: var(--primary-logo-color);
  color: var(--primary-accent-color);
}

button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

/* ---- input styling ---- */

label {
  padding-top: 1.5rem;
  padding-bottom: 0.2rem;
  font-family: var(--block-text);
  font-size: 1.2rem;
  color: black;
}

input,
textarea {
  padding: 0.6rem;
  border: 2px solid transparent;
  border-radius: 6px;
  background: conic-gradient(#f1f1f1 /* the background color */ 0 0) padding-box,
    linear-gradient(var(--primary-accent-color), var(--primary-logo-color))
      border-box;
  font-family: var(--body-text);
  font-size: 0.85rem;
}

input:focus,
textarea:focus {
  outline-offset: 2px;
  outline: 2px solid var(--primary-accent-color);
}

textarea {
  height: 120px;
  resize: vertical;
}

::placeholder {
  color: #c0c0c0;
}

.required::after {
  content: ' *';
  color: var(--primary-accent-color);
}
