.create-new-project-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--primary-monochrome-color);
  overflow-y: auto;
}

.create-new-project-page h2 {
  align-self: center;
  min-width: 300px;
  text-align: center;
}

.create-new-project-form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 50%;
}

.create-new-project-page button {
  align-self: center;
  min-width: 100px;
  margin: 1.5rem 0;
  padding: 0.75rem;
}

.create-new-project-page .error-message {
  align-self: center;
  color: var(--primary-accent-color);
}
