.news-feed div {
  padding: 1rem;
  background-color: #8ececc;
  cursor: pointer;
}

.projectItem {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.projectTitle {
  font-family: 'Lexend', sans-serif;
}

.projectDescription {
  font-family: 'Josefin Sans', sans-serif;
}
